<div class="container">
  <h3>Create a new list</h3>
<div class="list-form">
  <% @list = List.new %>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Name of the list' %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
</div>
  <% @lists.each do |list| %>
      <%= link_to list_path(list) do%>
          <h2><%= list.name %></h2>
      <% end %>
  <% end %>
</div>
