<div class="container">
  <h1><%= @list.name %></h1>
<div class="cards">
    <% @beers.each do |beer| %>
      <%= link_to beer_path(beer) do%>
        <div class='beer-cards'>
            <%= cl_image_tag beer.photo.key, height: 400 %>
            <h2><%= beer.name %></h2>
            <p><%= beer.style %> | <%= beer.abv.to_f %>%</p>
            <p><%= beer.country %></p>
        </div>
      <% end %>
    <% end %>
</div>
</div>
