<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('beers.jpg')%>)">
  <div class="container">
    <h1>World Wide Beers.</h1>
    <p>All Beers. One place</p>

    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: beers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search by beer name, style, country..."
            %>
          <%= submit_tag "Search", name: "", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="cards">
    <% @beers.each do |beer| %>
      <%= link_to beer_path(beer) do%>
        <div class='beer-cards'>
            <%= cl_image_tag beer.photo.key, height: 400 %>
            <h2><%= beer.name %></h2>
            <p><%= beer.style %> | <%= beer.abv %>%</p>
            <p><%= beer.country %></p>
        </div>
      <% end %>
    <% end %>
</div>
