<div class="show-container">
  <div class="show-image">
    <%= image_tag "wwb.webp" %>
    <div style="text-align: center">
      <%= link_to "Add to a list", "#", class: "btn btn-gradient" %>
    </div>
  </div>
  <div class="beer-description">
    <h1><%= @beer.name  %></h1>
    <h2><%= @beer.style %> | <%= @beer.abv %>% | <%= @beer.country %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minima accusantium qui molestias alias ea fuga molestiae tempora soluta. Eligendi praesentium assumenda illum fugiat debitis. Eum cum sit iure omnis.
    Repellat, dignissimos, corrupti assumenda vel ad fugiat iure expedita repellendus ratione quos molestias nemo sed perferendis nulla aperiam maxime similique error dicta quo voluptatem sequi enim velit corporis! Quibusdam, cum.
    Molestias libero quas ea consequatur molestiae, sit, labore omnis ipsum, quia sint numquam placeat fugit nihil. Ratione perferendis dolores commodi quam. Consequuntur, id. Assumenda fugiat ut adipisci aspernatur, explicabo ullam?
    Quas omnis ratione vero possimus laboriosam eos fuga quos rerum minima! Esse at commodi facere possimus quos earum fugiat blanditiis unde a consequatur quas architecto, quasi nemo, officia, dolore fuga.
    Deleniti blanditiis eum ab minima iure facilis distinctio totam, commodi reiciendis quod alias suscipit nobis quo sint recusandae porro tempora tempore neque ea officiis veritatis. At exercitationem natus itaque ipsum..</p>
  </div>
</div>
